.leftblock {
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: rgb(29, 37, 49);
}

.leftblocktop {
    position: absolute;
    left: 20px;
    top: 20px;
}

.leftblocktopimg {
    margin: 5px 0px;
}

.leftblockbottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.leftblockbottomimg {
    margin: 0px 5px;
}

.leftblock2 {
    position: absolute;
    left: 100px;
    height: 100%;
    width: 250px;
    background-color:  rgb(34, 44, 60);
}

.leftblock2content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.littletitle {
    margin: 30px 30px 25px 30px;
}

.littletitlewords {
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}

.littletitleimg {
    position: absolute;
    right: 25px;
}

.option {
    margin: 0px 30px 20px 30px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.leftblock2bottom {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.leftblock2bottomwords {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.topblock {
    position: absolute;
    left: 350px;
    height: 80px;
    width: calc(100% - 350px);
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: rgba(0, 0, 0, 0.8);
}

.topwords {
    position: relative;
    top: 30px;
    left: 30px;
}

.topblockright {
    position: absolute;
    right: 30px;
    width: 200px;
    z-index: -1;
}

.topimg1 {
    position: relative;
    bottom: 10px;
    float: left;
}

.topimg2 {
    position: relative;
    bottom: 20px;
    float: right;
}

.topblockrightcontent1 {
    font-size: 16px;
    color: rgb(35, 153, 241);
    margin-bottom: 5px;
}

.topblockrightcontent2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.topblockrightcontent {
    position: relative;
    left: 20px;
}

.content1 {
    position: absolute;
    left: 350px;
    top: 80px;
    width: 400px;

    height: calc(100% - 80px);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.search {
    position: relative;
    top: 16px;
    left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-indent: 10px;
    width: 340px;
    height: 36px;
}

.content1topsearch {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.searchicon {
    position: relative;
    top: 20px;
}